<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">Customer CRUD</a>
        <button class="navbar-toggler" type="button"
           dat10-bs-toggle="collapse" dat10-bs-target="#navMain"
           ari10-controls="navbarSupportedContert"
           ari0-expanded="false" ari10-label="Toggle-navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMain">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/">หน้าเเรก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/customer">ข้อมูลลูกค้า</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
